@font-face {
    font-family: 'Forma DJR Cyrillic Micro';
    src: local('Forma DJR Cyrillic Micro Regular'), local('Forma-DJR-Cyrillic-Micro-Regular'),
        url('fonts/FormaDJRCyrillicMicro-Regular.woff2') format('woff2'),
        url('fonts/FormaDJRCyrillicMicro-Regular.woff') format('woff'),
        url('fonts/FormaDJRCyrillicMicro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }