.grants-section {
  padding-bottom: 55px;
}
@media screen and (min-width: 768px) {
  .grants-section {
    padding-bottom: 65px;
  }
}
@media screen and (min-width: 1366px) {
  .grants-section__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.grants-section__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--black-color);
  margin-bottom: 34px;
}
@media screen and (min-width: 768px) {
  .grants-section__text {
    font-size: 16px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1366px) {
  .grants-section__text {
    max-width: 575px;
    font-size: 18px;
  }
}
.grants-section__text p:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1366px) {
  .grants-section__text p:not(:last-child) {
    margin-bottom: 30px;
  }
}

.grants-section__img {
  margin: 0 -24px;
}
@media screen and (min-width: 768px) {
  .grants-section__img {
    overflow: hidden;
    border-radius: 30px;
    margin: 0;
  }
}
.grants-section__img img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grants-courses {
  padding: 55px 0;
}
@media screen and (min-width: 768px) {
  .grants-courses {
    padding: 65px 0;
  }
}
.grants-courses__head {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .grants-courses__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 1366px) {
  .grants-courses__head {
    margin-bottom: 40px;
  }
}

.grants-courses__title {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .grants-courses__title {
    margin-bottom: 0;
  }
}
.grants-courses__slider {
  margin-bottom: -20px;
}

.swiper--grants {
  margin: 0 -15px;
  padding-bottom: 20px;
}
.swiper--grants .swiper-slide {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .swiper--grants .swiper-slide {
    width: 33%;
  }
}
.swiper--grants .swiper-pagination {
  position: unset;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .swiper--grants .swiper-pagination {
    display: none;
  }
}
.swiper--events {
  margin: 0 -15px;
  padding-top: 20px;
}
.swiper--events .swiper-slide {
  width: 50%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .swiper--events .swiper-slide {
    width: 33%;
  }
}
.swiper--events .swiper-pagination {
  position: unset;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .swiper--events .swiper-pagination {
    display: none;
  }
}
.swiper--events .events__item {
  margin: 0 16px;
}
@media screen and (min-width: 1366px) {
  .swiper--events .events__item {
    margin: 0 15px;
  }
}

.volunteer-questions {
  padding: 55px 0;
}
@media screen and (min-width: 768px) {
  .volunteer-questions {
    padding: 65px 0;
  }
}
@media screen and (min-width: 1366px) {
  .volunteer-questions {
    padding: 75px 0;
  }
}

.volunteer-questions__title {
  margin-bottom: 29px;
}
@media screen and (min-width: 768px) {
  .volunteer-questions__title {
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 1366px) {
  .volunteer-questions__title {
    margin-bottom: 37px;
  }
}/*# sourceMappingURL=grants.css.map */