.grants-courses {
    padding: 55px 0;

    @media screen and (min-width: 768px) {
        padding: 65px 0;
    }
    
    
    @media screen and (min-width: 1366px) {
        
    }
}

.grants-courses__head {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 34px;
    }
    
    
    @media screen and (min-width: 1366px) {
        margin-bottom: 40px;
    }
}

.grants-courses__title {
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
    
    
    @media screen and (min-width: 1366px) {
        
    }
}

.grants-item {
    background-color: var(--white-color);
    border: 1px solid #E7E8FF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 15px;
    transition: box-shadow 0.3s ease,  color 0.3s ease;

    @media screen and (min-width: 768px) {
        
    }
    
    
    @media screen and (min-width: 1366px) {
        border-radius: 30px;
    }

    &:hover {
        box-shadow: 0px 0px 14px rgba(169, 176, 244, 0.36);
        .grants-item__button {
            color: var(--primary-color);
        }
    }
}

.grants-item__img {
     height: 169px;
     overflow: hidden;
     flex-shrink: 0;
     border-radius: 19px 19px 0px 0px;

     @media screen and (min-width: 768px) {
        
     }
     
     
     @media screen and (min-width: 1366px) {
        height: 217px;
        border-radius: 29px 29px 0px 0px;
     }
     
     img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
     }
}

.grants-item__main {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    padding: 14px 14px;

    @media screen and (min-width: 768px) {
        padding: 12px 12px;
    }
    
    
    @media screen and (min-width: 1366px) {
        padding: 20px 20px;
    }
}

.grants-item__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color: var(--black-color);
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (min-width: 768px) {
        
    }
    
    
    @media screen and (min-width: 1366px) {
        font-size: 24px;
        margin-bottom: 10px;
    }
}

.grants-item__about {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #474747;
    margin-bottom: 52px;

    @media screen and (min-width: 768px) {
        margin-bottom: 38px;
    }
    
    
    @media screen and (min-width: 1366px) {
        margin-bottom: 44px;
        font-size: 18px;
    }
}

.grants-item__button {
    margin-top: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 106.5%;
    color:  #A9B0F4;;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease;

    @media screen and (min-width: 768px) {
       
    }
    
    
    @media screen and (min-width: 1366px) {
        font-size: 18px;
    }
}

.grants-courses__slider {
    margin-bottom: -20px;
}

.swiper--grants {
    margin: 0 -15px;
    padding-bottom: 20px;
 
    .swiper-slide {
        width: 100%;
        height: auto;

        @media screen and (min-width: 768px) {
            width: 33%;
        }
        
        
        @media screen and (min-width: 1366px) {
           
        }
    }

    .swiper-pagination {
        position: unset;
        margin-top: 14px;

        @media screen and (min-width: 768px) {
            display: none;
        }
        
        
        @media screen and (min-width: 1366px) {
           
        }
    }
}