.focus {
    padding: 55px 0 110px 0;

    @media screen and (min-width: 768px) {
        padding: 65px 0 130px 0;
    }


    @media screen and (min-width: 1366px) {
        padding: 75px 0 150px 0;
    }
}

.focus--volunteer {
    padding-bottom: 0;
}

.focus__head {
    margin-bottom: 38px;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 34px;
    }


    @media screen and (min-width: 1366px) {
        margin-bottom: 40px;
    }
}

.focus__title {
    margin-bottom: 18px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }


    @media screen and (min-width: 1366px) {
       
    }
}


.focus__grid {
    grid-template-columns: repeat(3,1fr);
    display: grid;
    grid-row-gap: 30px;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(6,1fr);
        grid-row-gap: 40px;
    }


    @media screen and (min-width: 1366px) {
        grid-template-columns: repeat(12,1fr);
        grid-column-gap: 96px;
        align-items: center;
    }
}

.focus__slider {
    grid-column: 1/4;

    
    @media screen and (min-width: 768px) {
        grid-column: 2/6;
    }


    @media screen and (min-width: 1366px) {
        grid-column: 1/7;
    }
}

.focus__articles {
    grid-column: 1/4;

    @media screen and (min-width: 768px) {
        grid-column: 1/7;
    }


    @media screen and (min-width: 1366px) {
        grid-column: 7/13;
    }
}


.focus-articles {
    &__item {
        cursor: pointer;
        opacity: 0.5;
        padding-bottom: 20px;
       
        &.active {
            opacity: 1;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
            border-bottom: 3px solid #8a95f34d;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: var(--black-color);
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            font-size: 26px;
        }
    
    
        @media screen and (min-width: 1366px) {
            font-size: 24px;
        }
    }

    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 106.5%;
        color: var(--primary-color);

        @media screen and (min-width: 768px) {
            font-size: 22px;
        }
    
    
        @media screen and (min-width: 1366px) {
           
        }
    }
}

.focus__slider {
   
   
}

.focus__swiper{
    height: 100%;
    position: relative;
    margin: 0 -10px;


    .swiper-wrapper {
        height: 100%;
       
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
      

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
            overflow: hidden;
          
        }
    }
}

.focus__img {
    margin: 0 10px;
}


