.volunteer-questions {
    padding: 55px 0;

    @media screen and (min-width: 768px) {
        padding: 65px 0;
    }


    @media screen and (min-width: 1366px) {
        padding: 75px 0;
    }
}

.volunteer-questions__title {
    margin-bottom: 29px;

    @media screen and (min-width: 768px) {
        margin-bottom: 34px;
    }

    @media screen and (min-width: 1366px) {
        margin-bottom: 37px;
    }
}