.volunteer-section {
    padding: 0px 0 55px 0;

    @media screen and (min-width: 768px) {
        padding: 0px 0 65px 0;
    }


    @media screen and (min-width: 1366px) {
        padding: 0 0 75px 0;
    }
}

.volunteer-section__wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(12,1fr);
        grid-gap: 50px;
    }


    @media screen and (min-width: 1366px) {
        grid-gap: 20px;
    }
}

.volunteer-section__text {
    grid-column: 4 span;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--black-color);

    @media screen and (min-width: 768px) {
        grid-column: 12 span;
        font-size: 16px;
    }


    @media screen and (min-width: 1366px) {
        grid-column: 6 span;
        font-size: 18px;
    }

    p {
        &:not(:last-child) {
            margin-bottom: 20px;

            @media screen and (min-width: 1366px) {
                margin-bottom: 30px;
            }
        
        }
    }


    &--blue {
        color: var(--primary-color);
        font-weight: 600;
    }
}

.volunteer-section__img {
    grid-column: 4 span;

    margin: 0 -22px;

    @media screen and (min-width: 768px) {
        grid-column: 12 span;
        border-radius: 30px;
        overflow: hidden;
        margin: 0;
    }

    @media screen and (min-width: 1366px) {
        grid-column: 8/13;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}